secret.py
notes.txt
main.bakup.py
main.bakup1.py

database.db
db_transfer.py
electric.old.py
electric.testing.py
api_data.pkl

# logfiles
log.log
electric.log
logs/
ConkyFeeder/


*.pkl
venv/
conky_assets/*
.idea/
__pycache__/
junkfolder/